body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
div#balls {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    /* padding: 15px; */
}
div.saleItem {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}
div.saleItem:nth-child(odd) {
    background-color: #8b8686;
}