body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    color: #000;
}
div#videoDiv {
    position: relative;
    width: 720px;
    height: 480px;
    top: 180px;
    bottom: 190px;
}
video#video {
    background-color: #000000;
}
div#videoDiv canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;

}